.jumbotron {
  margin-top: 15px;
  text-align: center;
}

#searchArea, #searchStatus, #searchResult, #userQuery {
  text-align: center;
}

#querySubmit, #searchStatus, #userQuery {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  margin: 15px;
  text-align: left;
}